.flex-container {
  display: flex;
}
.column {
  flex: 10%;
  /* display: flex; */
  flex-direction: column;
  /* position: relative; */
}

.column-flex {
  display: flex;
  flex-direction: column;
  width: 80%;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 4px;
}

button:focus {
  outline: none;
  background-color: #f4abec;
  border: 2px solid #f4abec;
}

#lyric {
  margin-top: 10px;
  display: block;
  overflow: scroll;
  font-size: 20px;
  resize: none;
}
